<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rustyxr.composite">

    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="35" />

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:version="1"
        android:required="true" />
    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false"
        android:version="1" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="horizonos.permission.HEADSET_CAMERA" />
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR" />
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM" />
    <uses-permission android:name="oculus.permission.handtracking" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:label="Rusty XR Composite"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <meta-data
            android:name="com.samsung.android.vr.application.mode"
            android:value="vr_only" />
        <meta-data
            android:name="com.oculus.handtracking.frequency"
            android:value="LOW" />
        <meta-data
            android:name="com.oculus.handtracking.version"
            android:value="V2.0" />
        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest2|questpro|quest3|quest3s" />

        <activity
            android:name=".CompositeLayerActivity"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:label="Rusty XR Composite"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="rusty_xr_quest_composite_native" />
            <meta-data
                android:name="com.oculus.vr.focusaware"
                android:value="true" />
            <meta-data
                android:name="com.oculus.intent.category.VR"
                android:value="vr_only" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".LauncherActivity"
            android:exported="true"
            android:label="Rusty XR Composite"
            android:targetActivity=".CompositeLayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".MediaProjectionStreamService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".HeadsetCameraService"
            android:exported="false" />
    </application>

    <queries>
        <provider
            android:name="x"
            android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
        <intent>
            <action android:name="org.khronos.openxr.OpenXRRuntimeService" />
        </intent>
        <intent>
            <action android:name="org.khronos.openxr.OpenXRApiLayerService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
</manifest>
